<ion-view view-title="Досье иероглифа (Завершение)">
    <ion-content style="background-image: url(img/content.jpg); background-size: cover">
        <div class="wrapperDossierEnd">
            <p class="uKnowUp">Вы изучили</p>
            <div class="dossierCircle">
                <p>
                    <span>
                        <i class="ion-android-star"></i>
                            {{ learnedieroglif }}
                        <i class="ion-android-star"></i>
                    </span>
                </p>
            </div>
            <p class="uKnowDown">иероглифов</p>
        </div>
        <div class="buttonCenter">
            <a>
                <button class="button button-stable around" ng-click="CheckTest()">
                    <img src="img/hand.png" id="handIco">
                    <b>Продолжить обучение</b>
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>