<ion-view cache-view="false" view-title="Уровни обучения">
    <ion-content style="background-image: url(img/content.jpg); background-size: cover">
        <div class="blocklevels" ng-repeat="circle in circles">
            <a ng-if="circle.level_id == circle.level_user_id_level" ng-href="#/app/hieroglyphslevel/{{circle.level_id}}">
                <img src="img/1level.png" width="105%" ng-click="hierogLevel1">
                <p class="textlevel">{{ circle.level_name }}</p>
            </a>
            <a ng-if="circle.level_id !== circle.level_user_id_level" ng-href="">
                <img src="img/2level.png" width="105%" ng-click="hierogLevel1; showAlert()">
                <p class="textlevel">{{ circle.level_name }}</p>
                </a>
        </div>
    </ion-content>
</ion-view>
