<ion-view cache-view="false" view-title="Результаты теста">
<!-- tabs -->

  <!-- content -->
<ion-content style="background-image: url(img/content.jpg); background-size: cover;">
  <ion-tabs class="tabs-striped tabs-top tabs-background-dark">
    <ion-tab title="Экран 1" ui-sref="help">
            <ion-nav-view class="tabs-padd" name="tap1">
            <a ng-href="#/app/bighieroglyphholms/{{id_level}}/{{ circleDay.ieroglif_id }}" ng-repeat="circleDay in circleDayOnes">
            <div class="circleDayTestFalse" ng-if="circleDay.is_test == 'false'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/crossRed.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            <div class="circleDayTestTrue" ng-if="circleDay.is_test == 'true'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/galkaGreen.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            </a>
            </ion-nav-view>
    </ion-tab>
    <ion-tab title="Экран 2" ui-sref="home">
            <ion-nav-view class="tabs-padd" name="tap2">
            <a ng-href="#/app/bighieroglyphholms/{{id_level}}/{{ circleDay.ieroglif_id }}" ng-repeat="circleDay in circleDayTwo">
            <div class="circleDayTestFalse" ng-if="circleDay.is_test == 'false'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/crossRed.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            <div class="circleDayTestTrue" ng-if="circleDay.is_test == 'true'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/galkaGreen.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            </a>
            </ion-nav-view> 
    </ion-tab>
    <ion-tab title="Экран 3" ui-sref="contact">
            <ion-nav-view class="tabs-padd" name="tap3">
            <a ng-href="#/app/bighieroglyphholms/{{id_level}}/{{ circleDay.ieroglif_id }}"  ng-repeat="circleDay in circleDayThree">
            <div class="circleDayTestFalse" ng-if="circleDay.is_test == 'false'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/crossRed.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            <div class="circleDayTestTrue" ng-if="circleDay.is_test == 'true'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/galkaGreen.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            </a>
            </ion-nav-view> 
    </ion-tab>
    <ion-tab title="Экран 4" ui-sref="contact">
            <ion-nav-view class="tabs-padd" name="tap4">
            <a ng-href="#/app/bighieroglyphholms/{{id_level}}/{{ circleDay.ieroglif_id }}" ng-repeat="circleDay in circleDayFour">
            <div class="circleDayTestFalse" ng-if="circleDay.is_test == 'false'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/crossRed.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            <div class="circleDayTestTrue" ng-if="circleDay.is_test == 'true'">
            <!-- <span style="position: absolute; margin-top: -15px"><img src="img/galkaGreen.png"></span> -->
            <img ng-src="http://japan.dev-topsu.ru/img/{{ circleDay.ieroglif_icon_china_var }}">
            </div>
            </a>
            </ion-nav-view> 
    </ion-tab>
</ion-tabs>
<div class="textFooter">
Если Вы допустили ошибку(ошибки), то повторите материал по данному иероглифу(иероглифам) и вновь пройдите тест.
</div>
<div class="buttonCenter">
            <a ng-href=""  class="button around-hand" ng-click="" style="margin-top: 1%; color: #5b3536;"><img src="img/hand.png" class="imageHand">&nbsp;<b>Пройти тест заново</b>&nbsp;&nbsp;</a>
        </div>
</ion-content>
</ion-view>
